on: [push]
name: Lint

jobs:
    php-cs-fixer:
        name: PHP-CS-Fixer
        runs-on: ubuntu-18.04
        steps:
            -   uses: actions/checkout@v2
            -   name: PHP-CS-Fixer
                uses: docker://oskarstark/php-cs-fixer-ga:2.15.3
                with:
                    args: --dry-run
