name: Tests

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    PHPUnit:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                include:
                    - { php-version: 8.1, symfony-version: 6.4.*, dependency-version: prefer-lowest }
                    - { php-version: 8.1, symfony-version: 6.4.*, dependency-version: prefer-stable }
                    - { php-version: 8.3, symfony-version: 7.*, dependency-version: prefer-stable }
        name: PHPUnit (PHP ${{ matrix.php-version }}, Symfony version lock ${{ matrix.symfony-version }}, ${{ matrix.dependency-version }})
        steps:
            -   uses: actions/checkout@v4
            -   uses: shivammathur/setup-php@v2
                with:
                  php-version: ${{ matrix.php-version }}
                  coverage: none
                  tools: composer:v2, flex
            -   uses: actions/cache@v4
                with:
                    path: vendor
                    key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ matrix.symfony-version }}-${{ matrix.dependency-version }}-${{ hashFiles('composer.json') }}
                    restore-keys: |
                        composer-${{ runner.os }}-${{ matrix.php-version }}-${{ matrix.symfony-version }}-${{ matrix.dependency-version }}-
            -   run: composer update --${{ matrix.dependency-version }} --no-interaction --no-scripts --no-progress --ansi
                env:
                    SYMFONY_REQUIRE: ${{ matrix.symfony-version }}
                    COMPOSER_NO_SECURITY_BLOCKING: 1
            -   run: composer show
            -   run: vendor/bin/phpunit --display-warnings --display-deprecations
